.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 100px;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 1024px) {
  .cards {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    row-gap: 70px;
    left: 10px;
  }
}

