/* .carousel{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    row-gap: 12px;
    align-items: center;
    padding-top: 40px;

} */

.carousel .carousel-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center; 
}